<h1>Your Movie Ranking</h1>
<%= link_to "映画の追加", new_movie_path %>
<% @movies.each do |movie| %>
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <p><%= movie.comment%></p>
    <%= link_to "映画の変更", edit_movie_path(movie) %> 

    <% end %>

<%= link_to "トップに戻る", homes_index_path %>